{{define "base"}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{{template "title" .}} - GoHtmx</title>
    </head>
    <body>
        <header>
            <h1>GoHtmx</h1>
        </header>
        <main>
            {{template "main" .}}
        </main>
        <footer>Powered by <a href="https://golang.org/">Go</a></footer>
        <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
    </body>
</html>
{{end}}
